In [2]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dn = pd.read_csv("C:/Users/vmari/OneDrive/Desktop/Lambton/2nd_term/AI/Project_Accidents_severity/US_Accidents_March23.csv")

In [6]:
dn.info

<bound method DataFrame.info of                 ID   Source  Severity           Start_Time  \
0              A-1  Source2         3  2016-02-08 05:46:00
1              A-2  Source2         2  2016-02-08 06:07:59
2              A-3  Source2         2  2016-02-08 06:49:27
3              A-4  Source2         3  2016-02-08 07:23:34
4              A-5  Source2         2  2016-02-08 07:39:07
...            ...      ...       ...                  ...
7728389  A-7777757  Source1         2  2019-08-23 18:03:25
7728390  A-7777758  Source1         2  2019-08-23 19:11:30
7728391  A-7777759  Source1         2  2019-08-23 19:00:21
7728392  A-7777760  Source1         2  2019-08-23 19:00:21
7728393  A-7777761  Source1         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN
...                      ...        ...         ...       ...        ...
7728389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094
7728390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363
7728391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727
7728392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565
7728393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934

         Distance(mi)  ... Roundabout Station   Stop Traffic_Calming  \
0               0.010  ...      False   False  False           False
1               0.010  ...      False   False  False           False
2               0.010  ...      False   False  False           False
3               0.010  ...      False   False  False           False
4               0.010  ...      False   False  False           False
...               ...  ...        ...     ...    ...             ...
7728389         0.543  ...      False   False  False           False
7728390         0.338  ...      False   False  False           False
7728391         0.561  ...      False   False  False           False
7728392         0.772  ...      False   False  False           False
7728393         0.537  ...      False   False  False           False

        Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight  \
0                False        False          Night          Night
1                False        False          Night          Night
2                 True        False          Night          Night
3                False        False          Night            Day
4                 True        False            Day            Day
...                ...          ...            ...            ...
7728389          False        False            Day            Day
7728390          False        False            Day            Day
7728391          False        False            Day            Day
7728392          False        False            Day            Day
7728393          False        False            Day            Day

        Nautical_Twilight Astronomical_Twilight
0                   Night                 Night
1                   Night                   Day
2                     Day                   Day
3                     Day                   Day
4                     Day                   Day
...                   ...                   ...
7728389               Day                   Day
7728390               Day                   Day
7728391               Day                   Day
7728392               Day                   Day
7728393               Day                   Day

[7728394 rows x 46 columns]>

In [7]:
dn['Weather_Timestamp'] = pd.to_datetime(dn['Weather_Timestamp'])

# Extract date and hour components
dn['date'] = dn['Weather_Timestamp'].dt.date
dn['hour'] = dn['Weather_Timestamp'].dt.hour

In [8]:
dn.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,date,hour
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,Night,Night,Night,Night,2016-02-08,5.0
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,Night,Night,Night,Day,2016-02-08,5.0
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,True,False,Night,Night,Day,Day,2016-02-08,6.0
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,Night,Day,Day,Day,2016-02-08,7.0
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,True,False,Day,Day,Day,Day,2016-02-08,7.0

In [ ]:
dn_new=filter[("Id","Severity","Start_Time","End_Time","Distance(mi)","Description","Street","City","County","State","Zipcode","Country","Wind_Direction","Weather_Condition","Amenity",)]