In [43]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from Utilities import constants

In [44]:
dn = pd.read_csv(constants.dataset_url)

In [45]:
dn.info

<bound method DataFrame.info of                 ID   Source  Severity           Start_Time  \
0              A-1  Source2         3  2016-02-08 05:46:00
1              A-2  Source2         2  2016-02-08 06:07:59
2              A-3  Source2         2  2016-02-08 06:49:27
3              A-4  Source2         3  2016-02-08 07:23:34
4              A-5  Source2         2  2016-02-08 07:39:07
...            ...      ...       ...                  ...
7728389  A-7777757  Source1         2  2019-08-23 18:03:25
7728390  A-7777758  Source1         2  2019-08-23 19:11:30
7728391  A-7777759  Source1         2  2019-08-23 19:00:21
7728392  A-7777760  Source1         2  2019-08-23 19:00:21
7728393  A-7777761  Source1         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN
...                      ...        ...         ...       ...        ...
7728389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094
7728390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363
7728391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727
7728392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565
7728393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934

         Distance(mi)  ... Roundabout Station   Stop Traffic_Calming  \
0               0.010  ...      False   False  False           False
1               0.010  ...      False   False  False           False
2               0.010  ...      False   False  False           False
3               0.010  ...      False   False  False           False
4               0.010  ...      False   False  False           False
...               ...  ...        ...     ...    ...             ...
7728389         0.543  ...      False   False  False           False
7728390         0.338  ...      False   False  False           False
7728391         0.561  ...      False   False  False           False
7728392         0.772  ...      False   False  False           False
7728393         0.537  ...      False   False  False           False

        Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight  \
0                False        False          Night          Night
1                False        False          Night          Night
2                 True        False          Night          Night
3                False        False          Night            Day
4                 True        False            Day            Day
...                ...          ...            ...            ...
7728389          False        False            Day            Day
7728390          False        False            Day            Day
7728391          False        False            Day            Day
7728392          False        False            Day            Day
7728393          False        False            Day            Day

        Nautical_Twilight Astronomical_Twilight
0                   Night                 Night
1                   Night                   Day
2                     Day                   Day
3                     Day                   Day
4                     Day                   Day
...                   ...                   ...
7728389               Day                   Day
7728390               Day                   Day
7728391               Day                   Day
7728392               Day                   Day
7728393               Day                   Day

[7728394 rows x 46 columns]>

In [46]:
dn['Start_Time'] = pd.to_datetime(dn['Start_Time'], format='ISO8601')
dn['End_Time'] = pd.to_datetime(dn['End_Time'], format='ISO8601')


# Extract date and hour components
dn['Start_Date'] = dn['Start_Time'].dt.date
dn['End_Date'] = dn['End_Time'].dt.date
dn['Start_Time_'] = dn['Start_Time'].dt.time
dn['End_Time_'] = dn['End_Time'].dt.time

In [47]:
dn.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Date,End_Date,Start_Time_,End_Time_
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,Night,Night,Night,Night,2016-02-08,2016-02-08,05:46:00,11:00:00
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,Night,Night,Night,Day,2016-02-08,2016-02-08,06:07:59,06:37:59
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,True,False,Night,Night,Day,Day,2016-02-08,2016-02-08,06:49:27,07:19:27
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,Night,Day,Day,Day,2016-02-08,2016-02-08,07:23:34,07:53:34
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,True,False,Day,Day,Day,Day,2016-02-08,2016-02-08,07:39:07,08:09:07

In [48]:
dn.drop(['Start_Time', 'End_Time'], axis=1, inplace=True)

dn.rename(columns={'Start_Time_': 'Start_Time', 'End_Time_': 'End_Time'}, inplace=True)

dn.head()

,ID,Source,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,...,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Date,End_Date,Start_Time,End_Time
0,A-1,Source2,3,39.865147,-84.058723,NaN,NaN,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,...,False,False,Night,Night,Night,Night,2016-02-08,2016-02-08,05:46:00,11:00:00
1,A-2,Source2,2,39.928059,-82.831184,NaN,NaN,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,...,False,False,Night,Night,Night,Day,2016-02-08,2016-02-08,06:07:59,06:37:59
2,A-3,Source2,2,39.063148,-84.032608,NaN,NaN,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,...,True,False,Night,Night,Day,Day,2016-02-08,2016-02-08,06:49:27,07:19:27
3,A-4,Source2,3,39.747753,-84.205582,NaN,NaN,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,...,False,False,Night,Day,Day,Day,2016-02-08,2016-02-08,07:23:34,07:53:34
4,A-5,Source2,2,39.627781,-84.188354,NaN,NaN,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,...,True,False,Day,Day,Day,Day,2016-02-08,2016-02-08,07:39:07,08:09:07

In [49]:
Selected_columns=["ID","Severity","Distance(mi)","Street","City","County","State","Zipcode","Country","Timezone","Wind_Direction","Weather_Condition","Amenity","Bump","Crossing","Give_Way","Junction","No_Exit","Railway","Roundabout","Station","Stop","Traffic_Calming","Traffic_Signal","Turning_Loop","Sunrise_Sunset","Start_Date", "End_Date", "Start_Time","End_Time"]

In [50]:
dn_new=dn[Selected_columns]
dn_new.head()

,ID,Severity,Distance(mi),Street,City,County,State,Zipcode,Country,Timezone,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Start_Date,End_Date,Start_Time,End_Time
0,A-1,3,0.01,I-70 E,Dayton,Montgomery,OH,45424,US,US/Eastern,...,False,False,False,False,False,Night,2016-02-08,2016-02-08,05:46:00,11:00:00
1,A-2,2,0.01,Brice Rd,Reynoldsburg,Franklin,OH,43068-3402,US,US/Eastern,...,False,False,False,False,False,Night,2016-02-08,2016-02-08,06:07:59,06:37:59
2,A-3,2,0.01,State Route 32,Williamsburg,Clermont,OH,45176,US,US/Eastern,...,False,False,False,True,False,Night,2016-02-08,2016-02-08,06:49:27,07:19:27
3,A-4,3,0.01,I-75 S,Dayton,Montgomery,OH,45417,US,US/Eastern,...,False,False,False,False,False,Night,2016-02-08,2016-02-08,07:23:34,07:53:34
4,A-5,2,0.01,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US,US/Eastern,...,False,False,False,True,False,Day,2016-02-08,2016-02-08,07:39:07,08:09:07

In [51]:
# List of columns to process
columns_to_process = [ 'Wind_Direction', 'Weather_Condition']

# Iterate through each column in the list
for col in columns_to_process:
    # Count the number of null values in the current column
    null_count = dn_new[col].isnull().sum()
    print(f"Number of null values in column '{col}':", null_count)
    
    # Calculate the mode for the current column
    mode_value = dn_new[col].mode()[0]
    print(f"Mode of column '{col}':", mode_value)
    
    # Replace null values with the mode for the current column using .loc[]
    dn_new.loc[dn_new[col].isnull(), col] = mode_value
    
    # Check if there are any null values after replacement
    null_in_column = dn_new[col].isnull().any()
    if null_in_column:
        print(f"There are still null values in the {col} column'")
    else:
        print(f"All null values in the {col} column have been replaced")

Number of null values in column 'Wind_Direction': 175206
Mode of column 'Wind_Direction': CALM
All null values in the Wind_Direction column have been replaced
Number of null values in column 'Weather_Condition': 173459
Mode of column 'Weather_Condition': Fair
All null values in the Weather_Condition column have been replaced

In [53]:
# Find columns with null values
columns_with_null = dn_new.columns[dn_new.isnull().any()]

# Select only columns with null values
dn_new_null_columns = dn_new[columns_with_null]

# Calculate total number of records with null values and percentage
total_records = len(dn_new)
null_counts = dn_new_null_columns.isnull().sum()
null_percentage = (null_counts / total_records) * 100

# Display the results
print("Columns with null values:")
print(dn_new_null_columns)

Columns with null values:
                            Street          City     Zipcode    Timezone  \
0                           I-70 E        Dayton       45424  US/Eastern
1                         Brice Rd  Reynoldsburg  43068-3402  US/Eastern
2                   State Route 32  Williamsburg       45176  US/Eastern
3                           I-75 S        Dayton       45417  US/Eastern
4        Miamisburg Centerville Rd        Dayton       45459  US/Eastern
...                            ...           ...         ...         ...
7728389               Pomona Fwy E     Riverside       92501  US/Pacific
7728390                      I-8 W     San Diego       92108  US/Pacific
7728391           Garden Grove Fwy        Orange       92866  US/Pacific
7728392            San Diego Fwy S   Culver City       90230  US/Pacific
7728393                   CA-210 W      Highland       92346  US/Pacific

        Sunrise_Sunset
0                Night
1                Night
2                Night
3                Night
4                  Day
...                ...
7728389            Day
7728390            Day
7728391            Day
7728392            Day
7728393            Day

[7728394 rows x 5 columns]

In [64]:

# Convert "Wind_Direction" to uppercase
dn['Wind_Direction'] = dn['Wind_Direction'].str.upper()

# Replace "VARIABLE" with "VAR"
dn['Wind_Direction'] = dn['Wind_Direction'].replace("VARIABLE", "VAR")

# Consolidate directional redundancies using a mapping
directions_mapping = {
    "EAST": "E",
    "WEST": "W",
    "NORTH": "N",
    "SOUTH": "S",
    "NORTHEAST": "NE",
    "NORTHWEST": "NW",
    "SOUTHEAST": "SE",
    "SOUTHWEST": "SW"
}

dn['Wind_Direction'] = dn['Wind_Direction'].map(directions_mapping).fillna(dn['Wind_Direction'])

# After consolidation, re-group and count to see the updated distributions
value_counts_weather_direction = dn['Wind_Direction'].value_counts().sort_index().reset_index()
value_counts_weather_direction.columns = ['Wind_Direction', 'count']

# Show the consolidated data
print(value_counts_weather_direction)

# Optionally, count the distinct number of wind direction categories after consolidation
print("Distinct Wind Direction Categories:", dn['Wind_Direction'].nunique())

   Wind_Direction    count
0            CALM  1330181
1               E   382459
2             ENE   258474
3             ESE   268311
4               N   460536
5              NE   258639
6             NNE   255311
7             NNW   333427
8              NW   369352
9               S   597364
10             SE   294901
11            SSE   349110
12            SSW   384840
13             SW   364470
14            VAR   364562
15              W   548664
16            WNW   378781
17            WSW   353806
Distinct Wind Direction Categories: 18

In [66]:


# Consolidate directional redundancies using a mapping
weather_mapping = {
    'Blowing Dust / Windy': 'Blowing Dust',
    'Dust Whirls': 'Dust',
    'Sand / Dust Whirls Nearby': 'Dust',
    'Sand / Dust Whirlwinds': 'Dust',
    'Sand / Dust Whirlwinds / Windy': 'Dust',
    'Widespread Dust': 'Dust',
    'Widespread Dust / Windy': 'Dust',
    'Blowing Snow / Windy': 'Blowing Snow',
    'Heavy Snow / Windy': 'Heavy Snow',
    'Light Snow / Windy': 'Light Snow',
    'Snow / Windy': 'Snow',
    'Snow and Sleet / Windy': 'Snow and Sleet',
    'Light Snow Showers': 'Snow Showers',
    'Cloudy / Windy': 'Cloudy',
    'Mostly Cloudy / Windy': 'Mostly Cloudy',
    'Partly Cloudy / Windy': 'Partly Cloudy',
    'Scattered Clouds': 'Cloudy',
    'Overcast': 'Cloudy',
    'Fog / Windy': 'Fog',
    'Haze / Windy': 'Haze',
    'Shallow Fog / Windy': 'Shallow Fog',
    'Partial Fog / Windy': 'Partial Fog',
    'Patches of Fog / Windy': 'Patches of Fog',
    'Drizzle / Windy': 'Drizzle',
    'Rain / Windy': 'Rain',
    'Heavy Rain / Windy': 'Heavy Rain',
    'Light Rain / Windy': 'Light Rain',
    'Rain Showers': 'Rain Shower',
    'Thunderstorm': 'Thunderstorm',
    'Thunderstorms and Rain': 'Thunderstorm',
    'Thunder': 'Thunderstorm',
    'Thunder / Windy': 'Thunderstorm',
    'Thunder in the Vicinity': 'Thunderstorm',
    'Heavy T-Storm': 'Heavy Thunderstorm',
    'Heavy T-Storm / Windy': 'Heavy Thunderstorm',
    'Light Thunderstorms and Rain': 'Light Thunderstorm',
    'T-Storm': 'Thunderstorm',
    'T-Storm / Windy': 'Thunderstorm',
    
}

dn['Weather_Condition'] = dn['Weather_Condition'].map(directions_mapping).fillna(dn['Weather_Condition'])

# After consolidation, re-group and count to see the updated distributions
value_counts_weather_condition = dn['Weather_Condition'].value_counts().sort_index().reset_index()
value_counts_weather_condition.columns = ['Weather_Condition', 'count']

# Show the consolidated data
print(value_counts_weather_condition)

# Optionally, count the distinct number of wind direction categories after consolidation
print("Distinct Weather Condition Categories:", dn['Weather_Condition'].nunique())

           Weather_Condition  count
0               Blowing Dust    189
1       Blowing Dust / Windy    266
2               Blowing Sand      2
3               Blowing Snow    740
4       Blowing Snow / Windy    925
..                       ...    ...
139             Volcanic Ash     22
140          Widespread Dust    181
141  Widespread Dust / Windy     24
142               Wintry Mix  11703
143       Wintry Mix / Windy    331

[144 rows x 2 columns]
Distinct Weather Condition Categories: 144

In [54]:
print("\nTotal Number of Records with Null Values:", total_records)
print("Null Values Counts:")
print(null_counts)
print("\nPercentage of Null Values to Total Records:")
print(null_percentage)

Total Number of Records with Null Values: 7728394
Null Values Counts:
Street            10869
City                253
Zipcode            1915
Timezone           7808
Sunrise_Sunset    23246
dtype: int64

Percentage of Null Values to Total Records:
Street            0.140637
City              0.003274
Zipcode           0.024779
Timezone          0.101030
Sunrise_Sunset    0.300787
dtype: float64

In [55]:
# Select records where 'Sunrise_Sunset' column has null values
sunrise_sunset_null = dn_new[dn_new['Sunrise_Sunset'].isnull()]

# Display the selected records
print("Records where 'Sunrise_Sunset' column has null values:")
print(sunrise_sunset_null)

Records where 'Sunrise_Sunset' column has null values:
                ID  Severity  Distance(mi)            Street      City  \
85968      A-85975         2         0.000        263rd St E       NaN
111080    A-111087         2         0.010        263rd St E       NaN
119772    A-119779         2         0.010   University Pkwy       NaN
122929    A-122936         2         0.010   University Pkwy       NaN
123702    A-123709         2         0.010   University Pkwy       NaN
...            ...       ...           ...               ...       ...
7619724  A-7669092         2         3.271           King St       NaN
7629988  A-7679356         4         3.308   N State Line Rd       NaN
7636150  A-7685518         3         0.259             I-170  St Louis
7639338  A-7688706         3         0.731             I-170  St Louis
7664113  A-7713481         3         0.731             I-170  St Louis

              County State Zipcode Country    Timezone  ... Station   Stop  \
85968    Los Angeles    CA   92372      US  US/Pacific  ...   False  False
111080   Los Angeles    CA   92372      US  US/Pacific  ...   False  False
119772      Sarasota    FL   34202      US  US/Eastern  ...   False  False
122929      Sarasota    FL   34202      US  US/Eastern  ...   False  False
123702      Sarasota    FL   34202      US  US/Eastern  ...   False  False
...              ...   ...     ...     ...         ...  ...     ...    ...
7619724  Westchester    NY   06831      US  US/Eastern  ...   False   True
7629988        Allen    IN   45813      US  US/Eastern  ...   False  False
7636150     St Louis    MO   63134      US  US/Central  ...   False  False
7639338     St Louis    MO   63134      US  US/Central  ...   False  False
7664113     St Louis    MO   63134      US  US/Central  ...   False  False

         Traffic_Calming  Traffic_Signal  Turning_Loop  Sunrise_Sunset  \
85968              False           False         False             NaN
111080             False           False         False             NaN
119772             False            True         False             NaN
122929             False           False         False             NaN
123702             False            True         False             NaN
...                  ...             ...           ...             ...
7619724            False           False         False             NaN
7629988            False           False         False             NaN
7636150            False           False         False             NaN
7639338            False           False         False             NaN
7664113            False           False         False             NaN

         Start_Date    End_Date  Start_Time  End_Time
85968    2016-08-02  2016-08-02    18:18:02  19:03:02
111080   2016-06-01  2016-06-01    10:26:08  11:10:00
119772   2016-12-23  2016-12-23    19:30:59  20:15:41
122929   2017-01-17  2017-01-17    17:34:09  18:04:09
123702   2017-01-24  2017-01-24    07:30:44  08:15:29
...             ...         ...         ...       ...
7619724  2017-10-09  2017-10-09    15:46:08  21:46:08
7629988  2017-09-06  2017-09-06    06:51:55  12:51:55
7636150  2017-09-21  2017-09-21    17:10:44  23:10:44
7639338  2017-09-29  2017-09-29    08:34:39  14:34:39
7664113  2019-04-23  2019-04-23    13:20:40  13:50:10

[23246 rows x 30 columns]

In [56]:
# Function to fill null values based on conditions
def fill_sunrise_sunset(row):
    if pd.isnull(row['Sunrise_Sunset']):
        start_time = pd.Timestamp.combine(pd.Timestamp.today(), row['Start_Time'])
        if start_time >= pd.Timestamp.combine(pd.Timestamp.today(), pd.to_datetime('06:30:00').time()) \
                and start_time <= pd.Timestamp.combine(pd.Timestamp.today(), pd.to_datetime('18:30:00').time()):
            return 'Day'
        else:
            return 'Night'
    else:
        return row['Sunrise_Sunset']

# Apply the function to fill null values in 'Sunrise_Sunset'
dn_new.loc[:, 'Sunrise_Sunset'] = dn_new.apply(fill_sunrise_sunset, axis=1)

# Check if there are null values in 'Sunrise_Sunset' column and print the appropriate message
if dn_new['Sunrise_Sunset'].isnull().any():
    print("There are null values in Sunrise_Sunset")
else:
    print("There are not null values in Sunrise_Sunset")

There are not null values in Sunrise_Sunset

In [57]:
# Calculate the total number of records in the original DataFrame
total_records_dn_new = len(dn_new)


# Delete records with null values in 'city', 'street', and 'zipcode' columns
dn_new_filtered = dn_new.dropna(subset=['City', 'Street', 'Zipcode'])

# Calculate the number of records deleted in 'city', 'street', and 'zipcode' columns
records_deleted_city_street_zipcode = len(dn_new) - len(dn_new_filtered)
print(f'Records deleted in city, street, and zipcode columns: {records_deleted_city_street_zipcode}')


# Print the total number of records deleted
total_records_deleted =  records_deleted_city_street_zipcode
print(f'Total records deleted: {total_records_deleted}')

Records deleted in city, street, and zipcode columns: 13034
Total records deleted: 13034

In [58]:
# Find columns with null values
columns_with_null = dn_new_filtered.columns[dn_new.isnull().any()]

# Select only columns with null values
dn_new_null_columns = dn_new_filtered[columns_with_null]

# Calculate total number of records with null values and percentage
total_records = len(dn_new_filtered)
null_counts = dn_new_null_columns.isnull().sum()


print("\nTotal Number of Records:", total_records)
print("Null Values Counts:")
print(null_counts)

Total Number of Records: 7715360
Null Values Counts:
Street         0
City           0
Zipcode        0
Timezone    5890
dtype: int64

In [59]:
# Function to calculate mode timezone for each state
def calculate_mode_timezone(group):
    if not group.empty:
        mode_values = group.mode()
        if not mode_values.empty:
            return mode_values.iloc[0]
        else:
            return None
    else:
        return None

# Group by 'state' and calculate mode timezone for each state
mode_timezone_by_state = dn_new_filtered.groupby('State')['Timezone'].apply(calculate_mode_timezone)

# Replace null values in 'Timezone' column with mode timezone according to the state
changed_records = 0
for state, mode_timezone in mode_timezone_by_state.items():
    changed_records += dn_new_filtered.loc[(dn_new_filtered['State'] == state) & (dn_new_filtered['Timezone'].isnull()), 'Timezone'].fillna(mode_timezone).count()

# Print the new number of null values for 'Timezone'
new_null_values = dn_new_filtered['Timezone'].isnull().sum() - changed_records
print("New number of null values for Timezone after replacement:", new_null_values)

New number of null values for Timezone after replacement: 0

In [60]:
# Find columns with null values
columns_with_null = dn_new_filtered.columns[dn_new_filtered.isnull().any()]

# Select only columns with null values
dn_new_null_columns = dn_new_filtered[columns_with_null]

# Calculate total number of original records
original_records = len(dn_new)

# Calculate total number of records with null values and percentage
deleted_records = original_records - len(dn_new_null_columns)
total_records = len(dn_new_null_columns.dropna())
null_counts = dn_new_null_columns.isnull().sum()

print("\nOriginal Number of Records:", original_records)
print("Final Number of Records after deleting null values:", total_records)
print("Number of Deleted Records due to null values:", deleted_records)

# Check if there are no null values
if null_counts.sum() == 0:
    print("Null values not founded")
else:
    print("Null values founded")

Original Number of Records: 7728394
Final Number of Records after deleting null values: 7709470
Number of Deleted Records due to null values: 13034
Null values founded

In [61]:
# Find duplicate records based on all columns
duplicate_rows = dn_new_filtered[dn_new_filtered.duplicated()]

# Print duplicate records
print("Duplicate Records:")
print(duplicate_rows)

Duplicate Records:
Empty DataFrame
Columns: [ID, Severity, Distance(mi), Street, City, County, State, Zipcode, Country, Timezone, Wind_Direction, Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Start_Date, End_Date, Start_Time, End_Time]
Index: []

[0 rows x 30 columns]

In [67]:
dn_new_filtered.head()

,ID,Severity,Distance(mi),Street,City,County,State,Zipcode,Country,Timezone,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Start_Date,End_Date,Start_Time,End_Time
0,A-1,3,0.01,I-70 E,Dayton,Montgomery,OH,45424,US,US/Eastern,...,False,False,False,False,False,Night,2016-02-08,2016-02-08,05:46:00,11:00:00
1,A-2,2,0.01,Brice Rd,Reynoldsburg,Franklin,OH,43068-3402,US,US/Eastern,...,False,False,False,False,False,Night,2016-02-08,2016-02-08,06:07:59,06:37:59
2,A-3,2,0.01,State Route 32,Williamsburg,Clermont,OH,45176,US,US/Eastern,...,False,False,False,True,False,Night,2016-02-08,2016-02-08,06:49:27,07:19:27
3,A-4,3,0.01,I-75 S,Dayton,Montgomery,OH,45417,US,US/Eastern,...,False,False,False,False,False,Night,2016-02-08,2016-02-08,07:23:34,07:53:34
4,A-5,2,0.01,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US,US/Eastern,...,False,False,False,True,False,Day,2016-02-08,2016-02-08,07:39:07,08:09:07

# Model Building

### Machine Learning Models Research

Before creating ML Models, since we're giving the client the power to choose any model based on the strengths of each one, we need to research about the benefits of using each one and how do those strengths can easily translate into benefits to the client.

##### List of Machine Learning Models

1. **Random Forest**

    *Description*: An ensemble of decision trees, typically trained via the bagging method. It improves over a single decision tree by reducing overfitting.

    *Strengths*: More accurate than a single decision tree, effective for large datasets, and can handle missing values. It also provides feature importance scores.

    *Benefit Translation*: Offers high accuracy through ensemble learning. **Best balance between Bias and Variance, and highest Recall**.


2. **Gradient Boosting Machines (GBM)**

    *Description*: An ensemble technique that builds models sequentially, each new model correcting errors made by previous models.

    *Strengths*: Often provides high predictive accuracy, can handle different types of data, and allows for optimization of different loss functions.

    *Benefit Translation*: Tends to provide high precision and recall, with careful tuning, by sequentially correcting errors of prior models, often at the cost of increased model complexity (variance). **Highest Accuracy, lowest Variance, and Most Effective Overall**.


3. **Neural Networks (Deep Learning)**

    *Description*: A set of algorithms modeled after the human brain, capable of learning from large amounts of data.

    *Strengths*: Can capture complex relationship in the data, perform well on a wide range of tasks, and are particularly useful for capturing nonlinear interactions.

    *Benefit Translation*: Potentially high accuracy in capturing complex, nonlinear relationships, though often at the expense of increased computational cost and model interpretability. **Lowest Bias**.


4. **Support Vector Machines**

    *Description*: A model that finds the hyperplane that best separates different classes in the feature space.

    *Strengths*: Effective in high-dimensional spaces and for cases where the number of dimensions exceeds the number of samples.

    *Benefit Translation*: High precision in high-dimensional spaces, especially effective when the margin of separation is clear and well-defined. **Highest Precision**.


5. **Ensemble Methods**

    *Description*: Techniques that combine the predictions from multiple machine learning algorithms to make more accurate predictions than any individual model.

    *Strengths*: Can leverage the strengths of multiple models, often leading to improved accuracy and robustness over single models.

    *Benefit Translation*: Aims to increase overall accuracy by reducing bias (through bagging methods like Random Forest) or variance (through boosting methods like GBM), depending on the ensemble strategy used.

##### References

* [Random Forest vs Light GBM](https://datascience.stackexchange.com/questions/63322/random-forest-vs-lightgbm)
* [Explore Machine Learning Models: A Comprehensive Comparison of Logistic Regression, Decision Trees, SVM, Random Forest and XGBoost](https://medium.com/%2540malli.learnings/exploring-machine-learning-models-a-comprehensive-comparison-of-logistic-regression-decision-38cc12287055)
* [Ensemble Methods for Deep Learning Neural Networks](https://machinelearningmastery.com/ensemble-methods-for-deep-learning-neural-networks/)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# df name dn_new_filtered

# Identify categorial columns to drop
categorical_cols = ['Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone', 'Sunrise_Sunset']
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    dn_new_filtered[col] = le.fit_transform(dn_new_filtered[col])
    label_encoders[col] = le

# Split df into test and train
# Feature selection
X = dn_new_filtered.drop(['ID', 'Severity', 'Start_Date', 'End_Date', 'Start_Time', 'End_Time'], axis=1)
y = dn_new_filtered['Severity']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# RFM
rf_model = RandomForestClassifier(n_estimators=100)
rf_model.fit(X_train, y_train)

# Making predictions on the test set
y_pred = rf_model.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))